h1 {
    font-size: 16px !important;
    margin-top: 10px !important;
    color: #686868;
    margin-bottom: 0 !important;
    text-align: center;
    padding-top: 10px !important;
    border-top: 1px solid #f2f2f2;
}

.ui.search.dropdown {
    min-width: 100% !important;
}

.column {
    padding: 5px;
}

.ui.grid {
    justify-content: space-evenly;
    width: 100%;
    margin: 0;
}

.ui.segment {
    padding: 10px !important;
    -webkit-box-shadow: 0 14px 26px -12px rgba(153, 153, 153, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(153, 153, 153, 0.2) !important;
    box-shadow: 0 14px 26px -12px rgba(153, 153, 153, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(153, 153, 153, 0.2) !important;
    margin: 1rem 0;
    padding: 1em 1em;
    border-radius: 0 !important;
    border: 0px solid rgba(34,36,38,.15) !important;
    display: flex;
    flex-direction: column;
    width: auto;
    height: 125px;
    justify-content: space-between;
}

.ui.search.dropdown>.text {
    white-space: nowrap;
    width: 85px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ui.search.dropdown>.default {
    width: 100%;
}

.ui.form .fields {
    margin: 0 !important;
}

.center {
    margin: auto 0 !important;
}