body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh; 
  width: 100vw; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/**
Customised CSS
*/
.ag-header-group-cell-with-group {
  background: #cdcdcd;
}

.ui.selection.dropdown {
  border: 1px solid #ff7f50 !important;
}

.ui.primary.button, .ui.primary.buttons .button {
  background-color: #ff7f50 !important;
}

.ui.selection.dropdown>.dropdown.icon {
  color: #ff7f50 !important;
}

.ui.selection.active.dropdown .menu {
  border-color: #ff7f50 !important;
}

.custom-font-color {
  color: #ff7f50 !important;
}

.ag-theme-alpine .ag-header-cell-resize::after {
  background-color:  rgba(0,0,0,0.5) !important;
}